body {
    background-color: #ddd;
    margin: 10px;
    text-align: left;
}

.verysimpledownload-finderform fieldset,
.verysimpledownload-finderform fieldset legend {
    background-color: #fff;
    border: none;
}

#verysimpledownloadItemContainer {
    background-color: #eee;
    height: 300px;
    overflow: auto;
    padding: 5px;
}

#verysimpledownloadItemContainer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#verysimpledownloadItemContainer a {
    color: #000;
    margin: 0.1em 0.2em;
    text-decoration: underline;
}
#verysimpledownloadItemContainer a:hover,
#verysimpledownloadItemContainer a:focus,
#verysimpledownloadItemContainer a:active {
    color: #900;
    text-decoration: none;
}

#verysimpledownloadItemContainer a img {
    border: none;
}

#verysimpledownloadItemContainer a img {
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    padding: 0.5em;
}
#verysimpledownloadItemContainer a:hover img,
#verysimpledownloadItemContainer a:focus img,
#verysimpledownloadItemContainer a:active img {
    background-color: #fff;
}
